/* 
Table of Contents

1. Margin & padding adjustment and overall sizes.
2. Design Element properties
3.

*/

/* 1. Margin & padding adjustment and overall sizes. */

/* Blue circle for each step */


/* End Blue circle for each step */



font.largeNumber {
font-family: Impact, Charcoal, sans-serif;
font-size: 70px;
}


p.text-center.largeFont {
font-size: 30px;
font-weight: 600;
color: white;
}

font.boldOS {
font-size: 22px;
font-weight: 900;
}

.ribbon {
    background: #eee;
    border-left: 1px dashed #aaa;
    border-right: 1px dashed #aaa;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    height: 120px;
    margin: 0 5px;
    position: relative;
    width: 90px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
}
.ribbon:after,
.ribbon:before {
    border-top: 15px solid #eee;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.ribbon:after {
    border-left: 50px solid transparent;
    right: -6px;
}
.ribbon:before {
    border-right: 50px solid transparent;
    left: -6px;
}

#flag {
  width: 110px;
  height: 56px;
  padding-top: 15px;
  position: relative; 
  background: red;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

		
			.content-box {
				width: 410px;
				height: 235px;
				margin: 0 auto;
				position: relative; /* So we can position the banner within the box */
				background: gray;
				border: 5px solid white;
				box-shadow: 0 0 10px rgba(0,0,0,.3);
				-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
				-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
			}
			
			#ribbon-container {
				position: absolute;
				top: 15px;
				right: -20px;
				overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
				font-size: 18px; /* font-size and line-height must be equal so we can account for the height of the banner */
				line-height: 18px;
			}
			
			#ribbon-container:before {
				content:"";
				height: 0;
				width: 0;
				display: block;
				position: absolute;
				top: 3px;
				left: 0;
				border-top: 29px solid rgba(0,0,0,.3); /* These 4 border properties create the first part of our drop-shadow */
				border-bottom: 29px solid rgba(0,0,0,.3); 
				border-right: 29px solid rgba(0,0,0,.3);
				border-left: 29px solid transparent;
			}
			
			#ribbon-container:after { /* This adds the second part of our dropshadow */
				content:"";
				height: 3px;
				background: rgba(0,0,0,.3);
				display: block;
				position: absolute;
				bottom: -3px;
				left: 58px;
				right:3px;
			}
			
			#ribbon-container a {
				display:block;
				padding:20px;
				position:relative; /* allows us to position our pseudo-elements properly */
				background:#0089d0;
				overflow:visible;
				height:58px;
				margin-left:29px;
				color:#fff;
				text-decoration:none;
			}
			
			#ribbon-container a:after { /* this creates the "folded" part of our ribbon */
				content:""; 
				height: 0;
				width: 0;
				display:block;
				position:absolute;
				bottom:-15px;
				right:0;
				border-top: 15px solid #004a70; 
				border-right: 15px solid transparent;
			}
			
			#ribbon-container a:before { /* this creates the "forked" part of our ribbon */
				content:"";
				height: 0;
				width: 0;
				display:block;
				position:absolute;
				top:0;
				left:-29px;
				border-top: 29px solid #0089d0; 
				border-bottom: 29px solid #0089d0; 
				border-right: 29px solid transparent;
				border-left: 29px solid transparent;
			}
			
			#ribbon-container a:hover {
				background:#009ff1;
			}
			
			#ribbon-container a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
				border-top: 29px solid #009ff1; 
				border-bottom: 29px solid #009ff1;
			}
			
font.whiteFont{
color:white;
font-weight:200px;
font-size: 20px;
}

.ribbon {
padding-top: 70px;
background: #FCDE51;
border-left: 1px dashed gray;
border-right: 1px dashed gray;
border-radius: 5px 5px 0 0;
box-shadow: 5px 0 0 #FCDE51, -5px 0 0 #FCDE51;
/* height: 120px; */
/* margin-top: 200px; */
/* width: 90px; */
-webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
display: inline;
}
.ribbon:after,
.ribbon:before {
   border-top: 20px solid #FCDE51;
content: '';
height: 0;
position: absolute;
top: 100%;
width: 0;
}

.ribbon:after {
    border-left: 50px solid transparent;
    right: -6px;
}
.ribbon:before {
    border-right: 50px solid transparent;
    left: -6px;
}

#ribbon {
	width: 180px;
	height: 280px;
	margin: 50px auto 0;
	position: relative;
	overflow: hidden;
}

#ribbon .inset {
	width: 200px;
	height: 55px;
	position: absolute;
	top: -50px;
	left: -10px;
	z-index: 5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	background: rgba(0,0,0,0.3);
	
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

#ribbon .container {
	position: relative;
	width: 100px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto;
	border-left: 1px solid #631a15;
	border-right: 1px solid #631a15;
}

#ribbon .base {
	height: 200px;
	width: 100px;
	
	background: rgb(199,59,60);
	background: -moz-linear-gradient(top,  rgba(199,59,60,1) 0%, rgba(184,32,31,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,59,60,1)), color-stop(100%,rgba(184,32,31,1)));
	background: -webkit-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: -o-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: -ms-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );

	position: relative;
	z-index: 2;
}

#ribbon .base:after {
	content: '';
	position: absolute;
	top: 0;
	width: 86px;
	left: 6px;
	height: 242px;
	border-left: 1px dashed #631a15;
	border-right: 1px dashed #631a15;
}

#ribbon .base:before {
	content: '';
	position: absolute;
	top: 0;
	width: 86px;
	left: 7px;
	height: 242px;
	border-left: 1px dashed #da5050;
	border-right: 1px dashed #da5050;
}

#ribbon .left_corner {
	width: 100px;
	height: 100px;
	background: #b8201f;
	position: absolute;
	bottom: 20px;
	left: -50px;
	z-index: 1;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#ribbon .right_corner {
	width: 100px;
	height: 100px;
	background: #b8201f;
	position: absolute;
	bottom: 20px;
	right: -50px;
	z-index: 1;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

article#getInvolved{
background:white;
}


button.redBtn {
background-clip: padding-box;
/* background-color: #7CFFC0; */
border-radius: 30px;
cursor: pointer;
display: inline-block;
/* font-size: 1em; */
font-weight: 700;
overflow: hidden;
/* padding: 1em 2em; */
text-align: center;
text-decoration: none;
text-transform: uppercase;
background-color: #FF0000;
/* background-color: #24C0EB; */
margin: 3% 5% 1% 5;
}
}

ul.getInvolved {
  text-align: justify;
  position: relative;
  overflow: hidden;
}


getInvolved.active:after {
  border-color: lightblue;
}
ul.getInvolved:after {
  content: "";
  display: inline-block;
  width: 100%;
}
li.getInvolved {
 
  width:100px;
	height:100px;
border-radius:50%;
color:#fff;
line-height:30px;
text-align:center;
background: #387af6;
padding-top:10px;
  display: inline-block;
}
active ~ getInvolved.li {
  background: lightblue;
}
getInvolved.body {
  font-family: sans-serif;
  padding: 2em;
}



font.blueBold {
color: rgb(38, 142, 255);
font-weight: bold;
font-size: 25px;
}

font.shawdowsIntoLight {
font-family: 'Shadows Into Light', cursive;
font-size: 25px;
color: white;

}

font.whiteBold
{
color: WHITE;
font-weight: bold;
font-size: 25px;


}

.content { display:none;}

.rightAlign {
	text-align: right;
}
table#menuBar {
background-color: #363635;
}
header {
    position: fixed; 
    z-index: 10; 
}

li#buttonMargin{
margin:10px;
}

font.line {
letter-spacing: -0.3px;
color: lightgray;
}

.container {
position: relative;
}


hr.dottedLine {
border-top: 3px dotted #000;
width: 100%;
}

 .getInvolvedTable{
    margin:auto;
  }
  
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  display: inline-block;
  margin-bottom: .2em;
  color: #95a5a6; }


 
.centeredImage
{
text-align:center;
display:block;
}

div#background{
width: 100%;
}


.whiteBackground {
color: white;
}

.topMargin {
margin-top: 5px;
}

div#overlay-text{
background-image: url('../index_files/firstPageBanner.png');
background-repeat: no-repeat;
background-size: 100% 100%;

    position:relative;
    padding-top:200px;
	padding-bottom:5%;
}




div#sans30{
    font-family: sans-serif;
    font-size: 25px;
    position:relative;
	padding-top:200px;
}


div#redMenu

{
background-color: #FF4949;
height: 50px;
}

div#headerBtn {
    text-align: right;
    margin-right: 20px;
}




div#SNSIcons {
margin-top: -1%;
margin-left: 90%;
}
div#donationBtn {
margin-left: 75%;
margin-top: -2.8%;
}

div#textMenus {
    text-align: left;
    padding-top: 15px;
}


.article {


    width: 100%;
    z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    
}








span.icon{

letter-spacing: 20px;

}

img.iconMargin{
margin-top:10px;
}

ul.ourImpactList {
color: gray;
line-height: 170%;
/* padding-bottom: 20%; */
}


li#menuList{
margin-left:2%;
margin-right:2%;
display: inline;
}


li#ourImpactList{
margin-left:5%;
margin-right:5%;
height:100%;
}


html {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
height:100%;
}


header {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
    width: 100%;
    margin: 0;
    position: fixed; 
    z-index: 10; 
}




p.intro{
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: normal;
    text-align: left;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-left: 20px;
    }

hr {
  border-top: 3px dotted #e3ffae;
  color: white;
  background-color: white;
  height: 0px;
  width:60%;
}


button.readMoreBtn  {
    color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
    
    display: inline-block;
    padding: 7px 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    /* color: #ffffff; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /* background-color: #bdc3c7; */
    border: none !important;
    border-radius: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    /* -webkit-transition: .5s; */
    transition: .5s;
    color: white;
    border-radius: 4px;  
}


button.greenBtn{
    color: white;
    background: #2ecc71; /* this is a light blue */
    
    display: inline-block;
    padding: 7px 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    /* color: #ffffff; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /* backg	round-color: #bdc3c7; */
    border: none !important;
    border-radius: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    /* -webkit-transition: .5s; */
    transition: .5s;
}

button.blueBtn {
color: white;
background: #3c76ff;
display: inline-block;
padding: 10px 50px;
margin-bottom: 0;
text-transform: uppercase;
line-height: 20px;
font-weight: bold;
/* color: #ffffff; */
text-align: center;
vertical-align: middle;
cursor: pointer;
/* background-color: #bdc3c7; */
border: none !important;
border-radius: 3px;
-o-transition: .5s;
-ms-transition: .5s;
-moz-transition: .5s;
/* -webkit-transition: .5s; */
transition: .5s;
font-size: 15px;
margin-left: 5%;
margin-right: 5%;
}


.titleBox{
padding-left: 25px;
margin-left: -25px;
border-radius: 30px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background-color: #58ACFA;
background-position: right bottom;
background-repeat: no-repeat;
float: left;
width: 40%;
}


.mentorReviewBox
{
margin: 3%;
border-radius: 3px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background-color: #FFF;
margin-bottom: 15px !important;
padding-bottom: 2%;
background-position: right bottom;
background-repeat: no-repeat;
float: left;
padding: 2%;
margin-top: 12%;
}

ourImpactBox
{
margin: 3%;
border-radius: 3px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background-color: #FFF;
margin-bottom: 15px !important;
padding-bottom: 2%;
background-position: right bottom;
background-repeat: no-repeat;
float: left;
padding: 2%;
}

.whiteBox {

margin:3%;

border: 1px solid #ccc;
background-color: #FDFDFD;
padding: 2%;
}
.boxx{
margin: 3%;
border-radius: 3px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background-color: #FFF;
margin-bottom: 15px !important;
padding-bottom: 2%;
background-position: right bottom;
background-repeat: no-repeat;
float: left;
padding: 2%;
}

 table { margin: auto; } 

button.bigButton{
    color: white;
    background: #2ecc71; /* this is a light blue */
    font-size: 20px;
    display: inline-block;
    padding: 35px 80px;
    margin-bottom: 0px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    /* color: #ffffff; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /* background-color: #bdc3c7; */
    border: none !important;
    border-radius: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    /* -webkit-transition: .5s; */
    transition: .5s;
}


p.whiteOpenSans18{

color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 18px;
padding-top: 0;
margin-bottom: 5px;
line-height: normal;
padding-right: 0px;
margin-left: 20px;
text-align:center;


}

font.donateFont {
font-family: Impact, Charcoal, sans-serif;
color: black;
margin: 5px;
}
p.os10{

color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 14px;
padding-top: 0;
margin-bottom: 5px;
line-height: normal;
padding-right: 0px;
margin-left: 20px;

}


p.os18 {
color: gray;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: xx-large;
margin: 20px;
}


p.os14{

color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 18px;
margin:20px;
}


p.titleFont {
color: black;
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size:40px;
margin-bottom:2%;
margin-top:2%;
}

p.tableTitle{


color: #306EFF;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 30px;
padding-top: 0;
margin-bottom: 5px;
line-height: normal;
padding-right: 0px;
margin-left: 20px;


}

p.articleTitleFont {
	
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 50px;
padding-top: 0;
margin-bottom: 5px;
line-height: normal;
text-align: left;
padding-right: 0px;
margin-left: 20px;

    text-transform: uppercase;

	
}

p.contentFont{
font-color: black;
font-family: 'Lato', sans-serif;
font-weight: 100;
font-size: 20px;
padding-top: 0;
margin-bottom:30px;
line-height: normal;
padding-right: 0px;
margin-left: 20px;
}


div#leftRightMargin
{
margin-left: 10%;
margin-right: 10%;

}
div.icons{	
	text-align:left;
	letter-spacing: 20px;
	
	padding-top: 4.5%;
	padding-left: 45%;
}

div.headerButtons{
	padding-top:20px;
	padding-right:20px;
	text-align:right;
	letter-spacing: 20px;
	
	
} div.menuBar{

background:Black;
margin-top:10%;
height:100%;
z-index: 10;
}

.Button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

div.menu{
    padding: 0px;
    margin-top:0px;
    height: 30%;
    margin-right:0px;
    margin-left:0px;
    background:Black;
}

    .wrap {
      overflow: hidden;
      margin: 0px;
    }
    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 0%;
    }
    .boxInner {
      position: absolute;
      
      left: 0px;
      right: 0px;
      top:0px;
      bottom: 0px;
      
      /**
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      **/
      overflow: hidden;
    }
    .boxInner img {
      width: 100%;
    }
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
    }
    
    .inner-image
    {
     position: absolute;
  top: 15px;
  right: 30px;
 
 }

hr.shortLine
 {

width: 10%;
height: 5px;
margin-left: auto;
margin-right: auto;
background-color:#BEBEBE;
border: 0 none;
margin-top: 5px;
margin-bottom:5px;
} 
 
 .imageAndText {
 position: relative;
 
 }
 
  
.imageAndText .row
 {
 position: absolute;
z-index: 1;
top: 0;
left: 0;

padding-top: 5%;
width:100%;
}


hr.grayLine
 {

width: 50%;
height: 5px;
margin-left: auto;
margin-right: auto;
background-color:#BEBEBE;
border: 0 none;
margin-top: 5px;
margin-bottom:5px;
}

img.bg
{
z-index:-5
}

.tutorContainer
{
float: left; 
position: relative; 

}